__pycache__/
*.py[cod]
*.png
*.jpg
*.jpeg
*.bmp
*.pt
*.onnx
*.zip
*.exe
*.DAE
*.dae
*.STL
*.stl
outputs/logs/*
outputs/images/*
outputs/trajectories/*
!outputs/logs/.gitkeep
!outputs/images/.gitkeep
!outputs/trajectories/.gitkeep
!sample_data/README.md
!sample_data/.gitkeep
